<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Frog</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    {% include "header.html" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
</body>
</html>