<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Frog</title>
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <h1>{{ title }}</h1>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <div>
            <div>Sponsored by Frog Protection Services</div>
            <div>Do you have Frog Protection?</div>
        </div>
        <div><code class="logo-text">hello world</code> production</div>
    </footer>
</body>
</html>