<footer>
    <div>
        <div>Sponsored by Frog Protection Services</div>
        <div>Do you have Frog Protection?</div>
    </div>
    <hr />
    <div>
        <span class="logo-text-large">hello world</span>
        <span class="logo-text-small">production</span>
    </div>
</footer>