<header>
    <div id="logo-container">
        <div class="logo">
            <a href="/">
                <img src="/static/frog_logo.png" alt="Frog Protection">
            </a>
        </div>
        <div class="logo-text-small">
            <a href="/">Data Science & Computer Programming</a>
        </div>
    </div>
    <div id="nav-container">
        <div class="logo-text-small">
            <span><a href="/numpy">NumPy</a></span>
            <span><a href="/stats">Statistics</a></span>
            <span><a href="/videos">Videos</a></span>
        </div>
    </div>
</header>