:root {
    --text-strong: #2c0e28;
}
html {
    background-color: #f7f7f7;
    color: #666;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to ensure the footer stays at the bottom */
}
main {
    flex-grow: 1; /* Allow content to grow and push footer to the bottom */
    padding: 20px; /* Adjust as needed */
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-strong);
    opacity: .9;
}
/* Header Styles */
header {
    background-color: #333; /* Header background color */
    color: #fff; /* Header text color */
    display: flex;
    align-items: center;
    padding: 1em; /* Adjust padding as needed */
}

.logo img {
    width: 60px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adjust the spacing between logo and header text */
    border-radius: 50%;
}

[alt~="Frog"], .logo-text-large {
    color: #ed5339;
    font-size: 1.5em;
    font-family: sans-serif, monospace;
}

footer, .logo-text-small {
    color: white;
    font-size: 1em;
    font-family: sans-serif, monospace;
}

.header-text h1 {
    font-size: 24px; /* Adjust font size for the header text */
    margin: 0; /* Remove default margin */
}

.header-text p {
    font-size: 16px; /* Adjust font size for the subtext */
    margin: 0; /* Remove default margin */
}

/* Rest of your styles */

footer {
    background-color: #333; /* Footer background color */
    color: #fff; /* Footer text color */
    text-align: center;
    padding: 2em 1em;
}

ul li {
    list-style-type: none;
}
li p {
    padding-left: 1em;
}
a:link {
    text-decoration: none;
    color: var(--text-strong);
    opacity: .9;
}
a:visited {
    text-decoration: none;
    color: var(--text-strong);
}
a:hover {
    color: #6e2363;
}
a:active {
    color: #6e2363;
}
pre {
    background: #444;
    padding: 20px 15px;
    color: white;
}
